In [53]:
import pandas as pd

In [54]:
people = {
    "first": ["Jerin", "John", "John"],
    "last": ["Thomas", "Doe", "Doe"],
    "email": ["jerinthomas17@gmail.com", "johndoe@email.com", "johndoe@email.com"]
}

In [55]:
# dict to df
df2 = pd.DataFrame(people)

In [56]:
df2

   first    last                    email
0  Jerin  Thomas  jerinthomas17@gmail.com
1   John     Doe        johndoe@email.com
2   John     Doe        johndoe@email.com

In [57]:
# df2.email
# df2.email == df2['email']
# But in case email is an attribute, (.) operator can be problematic
# df2.count returns count attribute/method rather than count column
df2['email']

0    jerinthomas17@gmail.com
1          johndoe@email.com
2          johndoe@email.com
Name: email, dtype: object

In [58]:
type(df2['email'])

pandas.core.series.Series

In [59]:
df2[['last', 'email']]

     last                    email
0  Thomas  jerinthomas17@gmail.com
1     Doe        johndoe@email.com
2     Doe        johndoe@email.com

In [60]:
type(df2[['last', 'email']])

pandas.core.frame.DataFrame

In [61]:
# get columns
df2.columns

Index(['first', 'last', 'email'], dtype='object')

In [62]:
# get rows: loc and iloc - location and index-location
df2.iloc[0]

first                      Jerin
last                      Thomas
email    jerinthomas17@gmail.com
Name: 0, dtype: object

In [63]:
df2.iloc[[0, 1]]

   first    last                    email
0  Jerin  Thomas  jerinthomas17@gmail.com
1   John     Doe        johndoe@email.com

In [64]:
df2.iloc[[0, 1], 2]

0    jerinthomas17@gmail.com
1          johndoe@email.com
Name: email, dtype: object

In [65]:
df2

   first    last                    email
0  Jerin  Thomas  jerinthomas17@gmail.com
1   John     Doe        johndoe@email.com
2   John     Doe        johndoe@email.com

In [66]:
df2.loc[0]
df2.loc[[0,1], ['email', 'first']]

                     email  first
0  jerinthomas17@gmail.com  Jerin
1        johndoe@email.com   John

In [67]:
df2.set_index('email')    #doesn't modify the index

                         first    last
email
jerinthomas17@gmail.com  Jerin  Thomas
johndoe@email.com         John     Doe
johndoe@email.com         John     Doe

In [68]:
df2

   first    last                    email
0  Jerin  Thomas  jerinthomas17@gmail.com
1   John     Doe        johndoe@email.com
2   John     Doe        johndoe@email.com

In [69]:
df2.set_index('email', inplace=True)   #modifies the df and index changes
df2

                         first    last
email
jerinthomas17@gmail.com  Jerin  Thomas
johndoe@email.com         John     Doe
johndoe@email.com         John     Doe

In [70]:
df2.loc['jerinthomas17@gmail.com']

first     Jerin
last     Thomas
Name: jerinthomas17@gmail.com, dtype: object

In [71]:
df2.reset_index(inplace=True)   #modifies the df and index changes
# df2 = df2.reset_index(drop=True)
df2

                     email  first    last
0  jerinthomas17@gmail.com  Jerin  Thomas
1        johndoe@email.com   John     Doe
2        johndoe@email.com   John     Doe